menu "Camera ID Detect Configuration"

config CAMERA_ID_DETECT_I2C_SDA
    int "I2C SDA GPIO"
    range 0 54
    default 7

config CAMERA_ID_DETECT_I2C_SCL
    int "I2C SCL GPIO"
    range 0 54
    default 8

config CAMERA_ID_DETECT_I2C_FREQ_HZ
    int "I2C/SCCB clock frequency (Hz)"
    range 10000 400000
    default 400000

config CAMERA_ID_DETECT_ENABLE_CAMERA_POWER
    bool "Enable camera power through SGM38121 on boot"
    default y

config CAMERA_ID_DETECT_AVDD1_MV
    int "AVDD1 target voltage (mV)"
    depends on CAMERA_ID_DETECT_ENABLE_CAMERA_POWER
    range 1504 3424
    default 1800

config CAMERA_ID_DETECT_AVDD2_MV
    int "AVDD2 target voltage (mV)"
    depends on CAMERA_ID_DETECT_ENABLE_CAMERA_POWER
    range 1504 3424
    default 2800

config CAMERA_ID_DETECT_RESET_GPIO
    int "Camera RESET GPIO (-1 to disable)"
    range -1 54
    default -1

config CAMERA_ID_DETECT_PWDN_GPIO
    int "Camera PWDN GPIO (-1 to disable)"
    range -1 54
    default -1

config CAMERA_ID_DETECT_XCLK_GPIO
    int "Camera XCLK GPIO (-1 to disable)"
    range -1 54
    default -1

config CAMERA_ID_DETECT_XCLK_FREQ_HZ
    int "Camera XCLK frequency (Hz)"
    range 1000000 40000000
    default 24000000
    help
        Ignored when XCLK GPIO is set to -1.

endmenu
